  top: 24px;
}

.ratings-box__item input:checked ~ .star-line-box .rating-star-line:nth-of-type(2) {
  animation: topLinesAnim 0.4s 0.3s linear;
}

.ratings-box__item input:checked ~ .star-line-box .rating-star-line:nth-of-type(3) {
  animation: topLinesAnim2 0.4s 0.3s linear;
}

.ratings-box__item input:checked ~ .star-line-box .rating-star-line:nth-of-type(4) {
  animation: bottomLineAnim 0.4s 0.3s linear;
}

@keyframes topLinesAnim {
  from {
    transform: rotate(45deg);
    opacity: 1;
  }
  to {
    transform: rotate(45deg) scaleY(1.2) translateY(-5px);
    opacity: 0;
  }
}
@keyframes topLinesAnim2 {
  from {
    transform: rotate(-45deg);
    opacity: 1;
  }
  to {
    transform: rotate(-45deg) scaleY(1.2) translateY(-5px);
    opacity: 0;
  }
}
@keyframes bottomLineAnim {
  from {
    transform: rotate(0);
    opacity: 1;
  }
  to {
    transform: rotate(0) scaleY(1.2) translateY(5px);
    opacity: 0;
  }
}
